*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
}

.login-card{
    width:350px;
    padding:40px;
    border-radius:20px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(20px);
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
    animation:float 3s infinite ease-in-out;
}

.login-card h1{
    color:white;
    text-align:center;
    margin-bottom:20px;
}

.login-card input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:10px;
}

.login-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.login-card button:hover{
    transform:scale(1.05);
}

@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }
}